<div class="login-pannel">
  <h2>SIGN IN</h2>
  <%= form_tag user_session_path do %>
    <div>
      <%= label_tag 'Email:' %><br/>
      <%= text_field_tag 'email' %>
    </div>
    <div>
      <%= label_tag 'Password:' %><br/>
      <%= text_field_tag 'password'%>
    </div>
    <div class="btn-pannel">
      <%= submit_tag 'Sign In', class: 'default_btn' %>
    </div>
  <% end %>
</div>
