<div class="sigin-container">
  <div class="row center">
    <%= image_tag "sendaguy.png" ,width: '60%' %> 
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="signup-form-wrapper">
        <h2>SIGN IN</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs mt30">
            <%= f.input :email, required: false, autofocus: true, label: "Email:" %>
            <%= f.input :password, required: false, label: "Password:" %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign in" , class: "signin-btn"%>
          </div>
        <% end %>
        <%= render "customers/shared/links" %>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="mobileapp-info-wrapper">
        <div class="header">DON'T HAVE AN ACCOUNT</div>
        <div class="content p20 fs20">
          Just get your mobile app to get set up and <br/> then be able to sign here to request service.
          <div class="app-container">
            <div class="col-sm-2"><%= image_tag "apple.png" %></div>
            <div class="col-sm-10 p15">Get SendaGuy Now in the app store</div>
          </div>
          <div class="app-container">
            <div class="col-sm-2"><%= image_tag "android.png" %></div>
            <div class="col-sm-10 p15">Get SendaGuy Now on Google Play</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
